# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/
doc/api/

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/build/
/android/.gradle/
/android/gradle/
/android/local.properties
/android/key.properties
/android/app/debug/
/android/app/profile/
/android/app/release/

# iOS
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/.last_build_id
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/build/
/ios/DerivedData/
/ios/.symlinks/
/ios/Flutter/ephemeral/

# macOS
/macos/Flutter/ephemeral/
/macos/build/
/macos/Pods/
/macos/.symlinks

# Windows
/windows/flutter/ephemeral
/windows/build

# Linux
/linux/flutter/ephemeral
/linux/build

# Web
/web/build

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
